html {
    scroll-behavior: smooth;
}

/* Background cinematic */
body {
    background: radial-gradient(circle at top,#020617,#020617,#020617,#0f172a);
    color: white;
    overflow-x: hidden;
}

body.bg-main {
    min-height: 100vh;
    background: linear-gradient(
      135deg,
      #0f2027,
      #203a43,
      #2c5364
    );
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
    font-family: 'Poppins', sans-serif;
  }
  
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  

/* Floating gradient lights */
body::before{
    content:'';
    position:fixed;
    width:800px;
    height:800px;
    background:linear-gradient(45deg,#6366f1,#9333ea);
    filter:blur(180px);
    top:-200px;
    left:-200px;
    opacity:0.5;
    z-index:-1;
}

body::after{
    content:'';
    position:fixed;
    width:800px;
    height:800px;
    background:linear-gradient(45deg,#ec4899,#6366f1);
    filter:blur(180px);
    bottom:-200px;
    right:-200px;
    opacity:0.5;
    z-index:-1;
}

body {
    background: #141414;
    color: white;
}

/* Movie Card */

.movie-card {
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.08);
    z-index: 2;
}

/* Poster */

.movie-img {
    border-radius: 8px;
}

/* Title */

.movie-title {
    font-size: 13px;
    margin-top: 6px;
}


/* Glass navbar */
.navbar{
    backdrop-filter: blur(20px);
    background: rgba(15,23,42,0.5);
    border-bottom:1px solid rgba(255,255,255,0.1);
}

/* 3D Movie Card */
.movie-card{
    background:rgba(30,41,59,0.5);
    backdrop-filter: blur(15px);
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
    transform-style: preserve-3d;
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

.movie-card:hover{
    transform: rotateY(12deg) rotateX(6deg) scale(1.05);
}

.movie-card img{
    height:360px;
    object-fit:cover;
}

/* Elegant neon button */
.btn-elegant{
    background: linear-gradient(45deg,#6366f1,#ec4899);
    border:none;
    color:white;
    border-radius:50px;
    padding:8px 20px;
    transition:0.3s;
}

.btn-elegant:hover{
    box-shadow:0 0 20px #6366f1;
    transform:translateY(-2px);
}

/* Glass login card */
.login-card{
    backdrop-filter: blur(30px);
    background: rgba(30,41,59,0.3);
    border-radius:20px;
    padding:45px;
    box-shadow:0 30px 70px rgba(0,0,0,0.7);
}
